<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ title or "jQuery contextMenu" }}</title>
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/github.min.css">
{% if isFixtureBuild %}
<link rel="stylesheet" href="../../../../dist/jquery.contextMenu.css">
{% else %}
<link rel="stylesheet" href="{{ assetBase }}/dist/jquery.contextMenu.css">
{% endif %}
</head>
<body>
{% include "nav.njk" %}
<main>
{{ content | safe }}
<footer>
  <p>Find jQuery contextMenu on <a href="https://github.com/swisnl/jQuery-contextMenu">GitHub</a>.</p>
</footer>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/{{ jqueryVersion or jqueryVersions.showcase }}/jquery.min.js"></script>
{% if isFixtureBuild %}
<script src="../../../../src/jquery.ui.position.js"></script>
<script src="../../../../src/jquery.contextMenu.js"></script>
{% else %}
<script src="{{ assetBase }}/dist/jquery.ui.position.min.js"></script>
<script src="{{ assetBase }}/dist/jquery.contextMenu.js"></script>
{% endif %}
<script src="/js/showcase.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
<script>document.addEventListener('DOMContentLoaded', () => hljs.highlightAll());</script>
</body>
</html>
