<nav class="sidebar">
  <a href="{{ siteAssetBase }}/"><strong>jQuery contextMenu</strong></a>
  <ul>
  {% for item in nav %}
    <li>
      <a class="{{ 'current' if item.id == currentMenu }}" href="{{ siteAssetBase if item.url[0] == '/' else '' }}{{ item.url }}">{{ item.text }}</a>
      {% if item.items %}
      <ul>
        {% for sub in item.items %}
        <li><a class="{{ 'current' if sub.id == currentMenu }}" href="{{ siteAssetBase if sub.url[0] == '/' else '' }}{{ sub.url }}">{{ sub.text }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
  </ul>
</nav>
