{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "ie >= 9"
                    ]
                }
            }
        ],
        "stage-2"
    ],
    "comments": false
}
