.DS_Store
/.idea/.name
/.idea/encodings.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/jQuery-contextMenu.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
