html,
body {
	padding: 0px;
	margin: 0px;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background: #FFF;
	padding: 15px;
	width: 800px;
	margin: 0 auto;
}

/* hide whitespace between inline-block elements */
.inline-spaces { font-size: 0; }
.inline-spaces > * { font-size: 11px; }

/* demo trigger boxes */
.box {
	width: 100px; 
	height: 100px; 
	display:inline-block;
	vertical-align: bottom;
	padding: 5px;
	color: white;
	font-weight: bold;
	margin-left: 2px;
	margin-top: 2px;
}
.box > * {
	display:block;
}
.menu-1 { background-color: green; }
.menu-2 { background-color: blue; }
.menu-injected { background-color: magenta; }
.menu-2.context-menu-disabled { background-color: red; }