// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$context-menu-icons-cachebust: "3isto";
$context-menu-icons: (
add: "",
copy: "",
cut: "",
delete: "",
edit: "",
paste: "",
quit: "",
);