// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$context-menu-icons-cachebust: "4pl8q";
$context-menu-icons: (
add: "EA01",
copy: "EA02",
cut: "EA03",
delete: "EA04",
edit: "EA05",
paste: "EA06",
quit: "EA07",
);