// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$context-menu-icons-cachebust: "1mbn0";
$context-menu-icons: (
context-menu-add: "",
context-menu-copy: "",
context-menu-cut: "",
context-menu-delete: "",
context-menu-edit: "",
context-menu-paste: "",
context-menu-quit: "",
);