// DON'T MANUALLY EDIT THIS FILE; run `gulp build-icons` instead.
$icons-cachebust: "35xz6";
$icons: (
context-menu-add: "",
context-menu-copy: "",
context-menu-cut: "",
context-menu-delete: "",
context-menu-edit: "",
context-menu-paste: "",
context-menu-quit: "",
);